parameters:
	ignoreErrors:
		-
			rawMessage: 'Class cognitive complexity is 2970, keep it under 80'
			identifier: complexity.classLike
			count: 1
			path: src/Translator.php

		-
			rawMessage: 'Cognitive complexity for "Sandermuller\PhpstanToMago\Translator::bindLocal()" is 96, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: src/Translator.php

		-
			rawMessage: 'Cognitive complexity for "Sandermuller\PhpstanToMago\Translator::equality()" is 62, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: src/Translator.php

		-
			rawMessage: 'Cognitive complexity for "Sandermuller\PhpstanToMago\Translator::functionPredicate()" is 56, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: src/Translator.php

		-
			rawMessage: 'Cognitive complexity for "Sandermuller\PhpstanToMago\Translator::inlineErrorHelper()" is 46, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: src/Translator.php

		-
			rawMessage: 'Cognitive complexity for "Sandermuller\PhpstanToMago\Translator::instanceofPredicate()" is 131, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: src/Translator.php

		-
			rawMessage: 'Cognitive complexity for "Sandermuller\PhpstanToMago\Translator::methodPredicate()" is 122, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: src/Translator.php

		-
			rawMessage: 'Cognitive complexity for "Sandermuller\PhpstanToMago\Translator::predicateFromStatements()" is 37, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: src/Translator.php

		-
			rawMessage: 'Cognitive complexity for "Sandermuller\PhpstanToMago\Translator::resolveDescriptor()" is 152, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: src/Translator.php

		-
			rawMessage: 'Cognitive complexity for "Sandermuller\PhpstanToMago\Translator::resolveReflection()" is 466, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: src/Translator.php

		-
			rawMessage: 'Cognitive complexity for "Sandermuller\PhpstanToMago\Translator::translateStatement()" is 78, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: src/Translator.php

		-
			rawMessage: 'Cognitive complexity for "Sandermuller\PhpstanToMago\Translator::trinaryTailPredicate()" is 33, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: src/Translator.php

		-
			rawMessage: 'Class cognitive complexity is 251, keep it under 80'
			identifier: complexity.classLike
			count: 1
			path: src/Transpiler.php

